
  hr{
     width: 200px;
     border-style:dotted none none none;
     border-width: 10px;
     border-color:#02EEB6;}
/* comment */

  h1, h2{
    color:#66BFBF;
  }

  body{
     background-color:#FFDAB9;
}
